html{
    height: 100%;
    width: 100%;
    margin: 0px;
}
body{
    background: url("/src/images.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.location
{
    margin-top: 15px;
    text-align: center;
    color:white;
    /* font-size: 30px; */
    font-size: 2.7vw;
    font-weight: 500;
    text-shadow: 3px 3px black;
    margin-bottom: 15px;
    
}

.temperature{
    margin-top: 5px;
    text-align: center;
    color:white;
    /* font-size: 30px; */
    font-size: 2.7vw;
    font-weight: 400;
    text-shadow: 3px 3px black;


}

.weather{
    margin-top: 5px;
    text-align: center;
    color:white;
    /* font-size: 10px; */
    font-size: 1vw;
    font-weight: 400;
    text-shadow: 3px 3px black;
}

.weatherIcon{
    margin-top: 10px;
    font-size: 4vw;
    text-align: center;
}

.lowerTemp
{
    margin-top: 20px;
    margin-left: 800px; 
    color:white;
    /* font-size: 10px; */
    font-size: 2vw;
    font-weight: 400;
    text-shadow: 3px 3px black;
    float: left;
}

.feelsLike
{
    margin-top: 20px;
    margin-left: 272px; 
    color:white;
    /* font-size: 10px; */
    font-size: 2vw;
    font-weight: 400;
    text-shadow: 3px 3px black;
    float: left;
}

.feelsTemp{
    margin-left: 55px;
}

.higherTemp
{
    margin-top: 20px;
    margin-left: 272px; 
    color:white;
    /* font-size: 10px; */
    font-size: 2vw;
    font-weight: 400;
    text-shadow: 3px 3px black;
    float: left;
    
}
/* .App{
    min-height: 1000px;
    width: 1200px;
    margin: 0px auto;
} */